@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-main: "Urbanist", sans-serif;
  --font-secondary: "Bebas Neue", sans-serif;
  --h3-size: 21px;
  --text-size: 16px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

body {
  font-family: var(--font-main);
}
